<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/%22%3E" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:if="${param.error}">
            Invalid username and password.
</div>
<form th:action="@{/loginpage}" method="post">
            <div><label> Username : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>